<h2>О проекте</h2>
<div class="card shadow p-3 mb-5 bg-white rounded">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<a class="twitter-timeline" data-height="200" href="https://twitter.com/Sergii95542514?ref_src=twsrc%5Etfw">Tweets by Sergii95542514</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col-md-6">
				<div class="cardbody shadow-sm p-3 md-5 bg-white rounded">
					<div class="row">
						<div class="col-md-3">
							<%= image_tag "CV_foto.jpg", class: "rounded-circle img-fluid" %>
						</div>
						<div class="col-md-9">
							<span>
								<h5>Сергей Сторчеус</h5>
								Разработчик Ruby-on-rails
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>